label{
	color:white;
} 
hr{
	width:95%;
	border:1px solid white;
}
h1{
	color:white;
	margin-top:0px;
	margin-left:15px;
	margin-bottom:0px;
}
.formContainer{
	margin-top:10px;
	margin-left:7.5%;
	width:35%;
	background-color: black;
	padding-top:15px;
	padding-bottom:15px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	vertical-align: top;
}
textarea.bigbox{
	width: 65%; /* Take up the full width of the table cell */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    margin:10px;
}
.logout{
	text-align: left;
}
.fa-sort{
	color:white;
}
/* Reset some default styles */
.offset{
	margin-left:7.5%;
}

.hide{
	display:none;
}
i {
	margin-left:auto;
}
form{
	margin-right:15px;
	margin-left:15px;
	width:85%;
}
img.fixed-size{
	width: 50px;
	height: 50px;
}
input[type="file"]{
	color:white;
}
input[type="number"] {
    width: 100%; /* Take up the full width of the table cell */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    margin-left: 4px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}
input[type="number"]:focus{
	outline:none;
}
input[type="date"] {
    width: 100%; /* Take up the full width of the table cell */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    margin-left: 4px;
    padding:2px 15px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    color: grey;
}
input[type="date"]#fileDate{
	width:auto;
}
input[type="date"]:focus{
	outline:none;}
/* Style for the text input fields */
input[type="text"] {
    width: 100%; /* Take up the full width of the table cell */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    margin-left: 4px;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}
input[type="text"]:focus {
    border-color: #007BFF; /* Change border color when focused */
    outline: none; /* Remove browser default focus styles */
}
input[type="text"]::placeholder {
    color: #888; /* Color for placeholder text */
}
input[type="button"].filterer {
	box-align:center;
}
body, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: #ffffff;
    padding: 20px;
}
table {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
thead {
    background-color: #e9e9e9;
}
tr, td {
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
}
td.dateField{
	white-space: nowrap;
	overflow:hidden;
}
td.tablefooter{
	color:white;
	background-color: black;
}
.buttonCell {
	width:100%;
}
td {
	border-right: 1px solid #e9e9e9;
	padding: 8px 8px;
}
th{
	padding:8px 8px;
}
td.img{
	text-align:center;
	padding:0px 0px;
}
th{
	white-space: nowrap;
	overflow:hidden;
    color:#FFFFFF;
    font-weight: bold;
    padding: 15px 15px;
    background-color:black;

}
.CheckBoxInput {
    margin-right: 5px;
}
/* Style for the buttons at the bottom of the form */
button{
	align-self:center;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}
::-webkit-file-upload-button,#supersearch, #addButton, #updateButton, #deleteButton, #sendUploadButton, #nextPage, #previousPage, #pageSize {
	align-self:center;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right:5px;
    transition: background-color 0.3s;
}
#searchType{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right:5px;
    transition: background-color 0.3s;
}
#addButton {
    background-color: #4CAF50;
    color: white;
}
#addButton:hover {
    background-color: #45a049;
}
#updateButton {
    background-color: #FFC107;
    color: white;
}
#updateButton:hover {
    background-color: #FFA000;
}
#deleteButton {
    background-color: #F44336;
    color: white;
}
#deleteButton:hover {
    background-color: #D32F2F;
}