update pagination tools to better match the spencers style.
The navbar should navigate to the respective slot that is selected
add in user view for admins to edit and control users into navbar for admins 
redesign user options on top page to make more sense 
